#friends-dispaly-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding: 3px;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: -10px;
}

#friends-dispaly-link i {
  color: gray;
  opacity: 50%;
  margin: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.friends-screen__channel-header {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

@keyframes splash__screen {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgb(60, 30, 30);
  animation: splash__screen 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
}
