.user-component__column .fa-comment-alt {
  color: rgb(47, 54, 62);
}

.more__usercomp-number {
  display: flex;
  align-items: center;
}

.more__usercomp-number i {
  margin: 5px 0px 0px 3px;
}

.more__usercomp-number i {
  color: tomato;
}

.suggestions {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.suggestions h4 {
  margin-bottom: 20px;
}
.suggestions__icons {
  display: flex;
}
.suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
}
.suggestions__icon__img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.suggestions__icon span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 5px;
}
