.alt-header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
  position: fixed;
  top: 23px;
  left: 0px;
  right: 0px;
}

.alt-header__title {
  font-size: 20px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
