.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 10px;
}
