.nav {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  background-color: rgb(249, 249, 250);
  padding: 15px;
}
.nav__btn {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 9px;
}
.nav__ellipsis-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 18px;
}
