.screen-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
  position: fixed;
  top: 23px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes screenHeaderCogIconSpin {
  0% {
    transform: none;
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: screenHeaderCogIconSpin 1s linear infinite;
}
