.user-component,
.user-component__column:nth-child(1) {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
}

.user-component__photo {
  width: 55px;
  height: 55px;
  border-radius: 40%;
  margin-right: 12px;
}
.user-component__name {
  font-weight: 600;
  font-size: 17px;
}
.user-component__subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-top: 5px;
}

.user-componrnt__photo__xl {
  width: 65px;
  height: 65px;
}

.user-componrnt__photo__sm {
  width: 50px;
  height: 50px;
}

.user-component__name__not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.usercomponent__time {
  display: block;
  margin-bottom: 5px;
}
